body {
    background: url("./Images/Shot_WeatherPy.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    background-position:  bottom right; 
  } 
  